<IfModule mod_rewrite.c>
RewriteEngine On
# Allow pretty URLs like /login instead of /index.php/login
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
</IfModule>
